<div class="catwrap" style="position: relative; min-height: 100vh">
<fieldset>
  <legend class="legend">CHANGE PASSWORD</legend>
  <div class="newprod">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
      <div>
         <%= f.label :new_password, :class => "prodlegend" %><br />
  
    <%= f.password_field :password, autocomplete: "off", :class => "pdtnametxt", :placeholder => "#{@minimum_password_length} characters minimum"  %>
       
      </div>
      <br>
      <div>
         <%= f.label :password_confirmation, :class => "prodlegend" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "pdtnametxt" %>
      </div>

      <div>
        <%= f.label :current_password, :class => "prodlegend"  %><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "pdtnametxt", :placeholder => "we need your current password to confirm your changes" %>
      </div>
      <div class="productback">
      </div>
      <div class="productback">
        <%= f.submit :UPDATE, :class => "createbtn", :style => "color: crimson;text-shadow: none; text-shadow: 0.07vw 0 black, -0.07vw 0 black, 0 0.07vw black, 0 -0.07vw black, 0 0 0.8vw lightblue" %>
      </div>
    <% end %>
    <div class="productback">
      <%= button_to 'Back to Main page', root_path, :method => "get", :class => "createbtn" %>
    </div>
  </div>
</fieldset>
</div>