<div class="catwrap" style="position: relative; min-height: 100vh">
<fieldset>
  <legend class="legend">LOG IN</legend>
  <div class="newprod">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email, :class => "prodlegend" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "off", :class => "pdtnametxt"  %>
      </div>
      <br>
      <div>
        <%= f.label :password, :class => "prodlegend" %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "pdtnametxt" %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box :remember_me, :style => "width: 2vw; height: 2vw" %>
          <%= f.label :remember_me, :style => "color: crimson; font-size: 1.8vw; font-family: 'Fresca'; text-shadow: 0 0 0.1vw black" %>
        </div>
      <% end -%>
      <br>
      <div class="productback" style="height: 5.2vw"> 
      </div>
      <div class="productback">
        <%= f.submit :LOGIN, :class => "createbtn", :style => "color: crimson;text-shadow: none; text-shadow: 0.07vw 0 black, -0.07vw 0 black, 0 0.07vw black, 0 -0.07vw black, 0 0 0.8vw lightblue" %>
      </div>
      <% end %>
       <div class="productback" style="border-right: none">
      <%= button_to 'Back to Main page', root_path, :method => "get", :class => "createbtn" %>
    </div>
  </div>
</fieldset>
</div>
