<% if user_signed_in? %>
<% if current_user.email=="justfish@gmail.com" %>
<%= render 'signedhome' %>
<% end %>

<% else %>
<!-- JUST FISH LOGO -->

<div class="wrap intro">
	<div class="slideshow-container">
    <% if @main.backgrounds.blank? %>
      <img src="/assets/f1.png" style="width:100%; height: 45vw; border: 1px solid black; background: black" >
    <% else %>
      <% @main.backgrounds.shuffle.each do |background| %>
        <div class="logo fade0">
          <img src="/assets/f1.png" style="width:100%; height: 45vw; border: 1px solid black; background-image: url('<%= background.backgroundimg.url %>');background-size: cover;background-position: center;background-repeat: no-repeat" >
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- IMAGE SLIDER -->

<div class="wrap imgshow">
  <div class="slideshow-container">
    <% if @main.galleries.blank? %>
      <div class="mySlides fade">
        <img src="/assets/j1.jpg" style="object-fit: cover; width:100%; height: 55vw; border: 1px solid black" >
      </div>
    <% else %>
    <% @main.galleries.each do |gallery| %>
    <div class="mySlides fade">
        <%= image_tag gallery.galleryimg.url, :style => "object-fit: cover; width:100%; height: 55vw; border: 1px solid black" %>
    </div>
    <% end %>
    <% end %>

<!-- Side buttons to change image -->

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
</div>


<!-- FACTS, ABOUT US, NEW ARRIVALS -->


<div class="wrap mid">

<!-- DOTS FOR IMAGE GALLERY SLIDER -->

  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <br>
  <br>

<!-- HEADINGS: FACTS, ABOUT and NEW ARRIVALS -->

  <table class="main">
    <tr>
      <th>
        DID YOU KNOW?
      </th>
      <th>
        ABOUT US
      </th>
      <th>
        NEW ARRIVALS
      </th>
    </tr>
  </table>

  <!-- INNER TABLES CONTAING DATA -->

  <table class="main">
    <tr>
      <td>

        <!-- DID YOU KNOW COLUMN -->

        <table class="inner">
          <tr>
            <th>
              <%@main.facts.each do |fact| %> 
                <div class="slideshow-container">
                  <div class="diduknow fade1">
                    <span class="factsandarrivals">
                      <%= fact.tip %>
                    </span>
                    <span><a class="prev1" onclick="plusfacts(-1)">&#10094;</a>
                          <a class="next1" onclick="plusfacts(1)">&#10095;</a>
                    </span>
                  </div>
                </div>
              <% end %>
            </th>
          </tr>
        </table>
      </td>
      <td>

        <!-- ABOUT US COLUMN -->

        <table class="inner">
          
            <% i=0 %>
            <% @main.abouts.each do %>
              <% i=i+1 %>
            <% end %>

            <% if i==0 %>
              <%= render 'abouts/form' %>
            <% else %>
              <% @main.abouts.each do |about| %>
                <tr>
                  <th>
                    <div class="about">
                      <%= about.data %>
                    </div>
                  </th>
                </tr>
              <% end %>
            <% end %>
          
        </table>
      </td>
      <td>

        <!-- NEW ARRIVALS COLUMN -->

        <table class="inner">
          <div class="slideshow-container">
            <% @main.newarrivals.each do |newarrival| %>
              <%= link_to main_newarrival_path(@main, newarrival) do %>
                <div class="newarrival fade1">
                  <span class="factsandarrivals" style="width: 83%; padding: 0.3vw; border: 0.12vw solid black; border-radius: 0.5vw">
                    <%= image_tag(newarrival.newarrivalimg.url, :class => "productimg3") %>
                  </span>  
                  <span>
                  <button class="factsandarrivalsheading">
                    <%= newarrival.name %>
                  </button>
                </div>
              <% end %>
              <span>
                <a class="prev1" onclick="plusarrival(-1)" style="text-shadow: none; font-size: 1.2vw">&#10094;</a>
                <a class="next1" onclick="plusarrival(1)" style="text-shadow: none; font-size: 1.2vw">&#10095;</a>
              </span>
            <% end %>
          </div>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <br>
</div>

<!-- PRODUCTS SLIDER -->

<div class="wrap prod">
  <br>
  <table class="categories">
    <tr>
      <th>
        <div class="ourpdt">OUR PRODUCTS</div>
      </th>
    </tr>
  </table>
  <br>
  <div class="category2">
        <% @categories = Category.all %>
        <% i=0 %>
        <% j=0 %>
        <% @categories.each do |category| %>
          <% if i%4==0 %>
          <% j=j+1 %>
          <div class="category">
          <% end %>
            <% i=i+1 %>
            <span class="a123" style="background-image: url('<%= category.catimg.url %>');background-size: cover;background-repeat: no-repeat; background-position: center; box-shadow: 0.3vw 0.3vw black, 0.3vw 0.3vw 0.4vw red; margin: 0.15vw">
              <%= button_to category.catname, category_path(category), :method => "get", :class => "btncls" %></button>
            </span>
          <% if i%4==0 %>
            <% i=0 %>
            </div>
          <% end %> 
          <a class="prev3" onclick="pluscategory(-1)">&#10094;</a>
          <a class="next3" onclick="pluscategory(1)">&#10095;</a>
        <% end %>
        <% if i%4!=0 %>
      </div>
      <% end %>
  </div>
  <% (1..j).each do |i| %>
  <span class="dot1" onclick="currentcategory(<%= i %>)"></span>
  <% end %> 
  <br>
  <br>
  <%= button_to 'All Products', products_path, :method => "get", :class => "createbtn", :style => "width: 12%; font-size: 1.3vw; position: absolute; right: 0; bottom: 0; border: none" %>
</div>


<!-- BOTTOM SET - CONTACTS, LOCATION, CAREERS -->

  <div class="wrap bottom" style="position: relative; min-height: 33vw">
  <br>
  <table class="bottomtable">
    <tr>
      <th>
          <div class="heading">CONTACT US</div>
      </th>
      <th>
        <div class="heading">LOCATE US</div>
      </th>
      <th>
        <div class="heading">CAREERS</div>
      </th>
    </tr>
    <tr>
      <td>

        <!-- CONTACT DETAILS -->

        <div class="btmcontents1">
          <%= @main.shop %>
        </div>
        <br>
          <div class="btmcontents">
            <%= image_tag("contactmail.png", class: :contactset) %>
            <%= @main.contact_mail %>
        </div>
        <br>
        <div class="btmcontents">
          <%= image_tag("phone.png", class: :contactset) %>
          <%= @main.contact_no %>
          </div>
        <br>
        <div class="btmcontents">
          <%= image_tag("mapsymbol.png", class: :contactset) %>
          <%= simple_format @main.address %>
        </div>
      </td>

      <!-- MAP -->

      <td>
        <div class="btmcontents"><%= link_to image_tag("map.jpg", class: :location), "https://www.google.co.in/maps/place/Just+Fish/@10.0695466,76.3308314,20.19z/data=!4m5!3m4!1s0x3b080e81fbeafe9b:0x10ba505a574cde92!8m2!3d10.0694962!4d76.3308634", target: :_blank %>
        </div>
      </td>

      <!-- CAREER LIST -->

      <td>
        <div class="container">
        <% @careers = Career.all %>
        <% i=0 %>
        <% @careers.each do |career| %>

          <!-- OPENING THE DIV BOX TO START SHOWING THREE ELEMENTS EACH -->

          <% if i%3==0 %>
            <div class="career1">
          <% end %>
          <% i=i+1 %>
          <%= button_to career.career_name, career_path(career), :method => "get", :class => "careerbtn" %>
          
          <!-- PROVIDING LINE BREAKS TO SEPARATE CAREER NAMES -->

          <% if i%3!=0 %>
            <br>
          <% end %>

          <!-- CLOSING THE DIV BOX WHEN THREE ELEMENTS ARE FILLED -->

          <% if i%3==0 %>
            </div>
          <% end %>

          <!-- BUTTONS TO SLIDE THE CAREER LIST -->

          <a class="prev2" onclick="pluscareer(-1)">&#10094;</a>
          <a class="next2" onclick="pluscareer(1)">&#10095;</a>
        <% end %>
        
        </div>  
        <br>
      </td>
    </tr>
  </table>
  <%= button_to 'All CAREERS', careers_path, :method => "get", :class => "createbtn", :style => "width: 12%; font-size: 1.3vw; position: absolute; right: 0; bottom: 0.25vw; border: none" %>
</div>
<div class="wrap bottom" style="min-height: 7vw; padding: 1vw; position: relative;background-position: center">
  <div style="text-align: left; font-family: 'Fresca'; width: 33%; margin: 0 auto; float: left"><b style="font-size: 2vw; text-shadow: 0 0 0.02vw blue">CREDITS:</b><br> HNYJNY & ABNVKS</div>
  <div style="font-family: 'Fresca'; width: 33%; display: inline-block; margin: 0 auto; float: left"><b style="font-size: 2vw; text-shadow: 0 0 0.02vw blue">OUR PARTNERS:</b><br> COCHIN AQUARIUM</div>
  <%= link_to new_user_session_path do |f| %>
  <div class="btmlogin">LOG IN</div>
</div>
  <% end %>
<% end %>
