<!DOCTYPE html>
<html>
  <head>
    <title>Fish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Fresca' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Inika' rel='stylesheet'>

  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
